*{
    padding: 0;
    margin: 0;
}

body{
    background-color:#15031fd7  ;
}

.header .background img{
   width: 100%;
   height: 403px;
}

.header__logo{
    height: 3px;
    margin-right:3px;
    margin-top: 1px;
    border-radius: 2px;
    
   
 
}

.search-bar{
    width: 31%;
    display: flex;
    margin: 0 20px;
    align-items: center;

    

}

.header .search{
    outline: none;
    background:none;
   border: none;
   margin-left: 2rem;
   width: 243px;
   height: 35px;
   border-radius: 1rem;
    color: white;
    font-size: 15px;
    padding: 1.5rem;
    border: 1px solid #0505057a
}


.content{
    width: 50%;
    margin: 3rem auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
}


.card{
    background-color: rgb(154, 11, 236);
    color: white;
    position: relative;
    margin-top: 3rem;
    padding: 1.5px;
}

p{
    color: white;
    text-align: center;
    font-size: 11px;
}


.card img{
    width: 100%;
    height: 64%;
    transition: 0.5s;
    cursor: pointer;
}


.card:hover img{
    transform: scale(1.1);
}

.card .title{
    text-align: center;
    font-size: 6x;
}


.card::after,
.card::before{
    content: "";
    position: absolute;
    background: rgb(43, 4, 66); 
    z-index: -1;
}

.card::before{
    bottom: -2em;
    left: 0;
    width: 75%;
    height: 3em;
}

.card::after{
    bottom: -2em;
    right: 0.9em;
    width: 40%;
    height: 4em;
    transform: rotate(-38deg);
    box-sizing: 1rem;
}

.content__sp{
    width: 65%;
    margin-left: 180px ;
    height: 7600px;
    background: linear-gradient( rgb(155, 4, 243)),url(groupp.png);
    color: white;
    font-size: 1.3rem;
    text-align: justify;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.right-box{
    flex-basis: 17% ;
}

.left-box{
    flex-basis: 45%;
}


.content__sp img{
    width: 196px;
    height: 303px;
    border: 1px solid white;
    box-shadow: 0 3px 3px 3px rgba(235, 235, 235, 0.2);
    transform: rotate(20deg);
    transition: 0.5s;
}



.content__sp img:hover{
    transform: rotate(0deg);
}

.search-bar{

    gap:2rem;
}


.search-bar > button{

    padding: 2px 3px;
    border-radius: 10px;
    outline: none;
    background-color: blueviolet;
    color: white;
    border: none;
    cursor: pointer;
}